repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
- repo: https://github.com/JohnnyMorganz/StyLua
  rev: v0.18.1
  hooks:
  - name: Run stylua
    id: stylua-github
